@import url(utilities.css);

body {
  min-height: 100vh;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/images/image.jpg);
  background-size: cover;
}

main {
  color: bisque;
}

nav ul li a {
  color: bisque;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}

nav ul li:nth-child(2) {
  margin-inline: 20px;
}

nav ul li a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li:nth-child(2) {
    margin-inline: 0;
  }
}

section {
  margin-bottom: 10px;
  border-color: brown;
}

footer {
    background-color: currentColor;
    margin-top: 20px;
  }


.icons-position li img {
  width: 30px;
  padding-inline: 10px;
  margin: auto;
}

.direction-row {
  display: flex;
  flex-direction: row;
}

.margin {
  margin-left: 25px;
}

.vertical {
  vertical-align: middle;
}
