@import url(utilities.css);

body {
  min-height: 100vh;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image:url(../assets/images/image.jpg);
  background-size: cover;
}


 main{
color:bisque;
 }

nav ul li a{
  color:bisque;
  font-weight: bold;
}

nav ul li a{
  text-decoration: none;
} 

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content:end;
  align-items: end;
  font-family: serif;
}

nav ul li:nth-child(2) {
  margin-inline: 20px;
}

section {
  margin-bottom: 10px;
  border-color: brown;
}

.with-icon-arrow{
  list-style-image:url(../assets/icons/flecha.svg);
}

.feature{
 margin-top: 0px;
}

.with-icon-star{
  list-style-image:url(../assets/icons/star-svgrepo-com.svg);
}

footer {
  background-color: currentColor;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li:nth-child(2) {
    margin-inline: 0;
  }
}

.direction-row {
  display: flex;
  flex-direction: row;
}

.icons-position li img{
  width: 30px;
  padding-inline: 10px;
  margin:auto;
}

.size img{
  width: 70px;
  height: 50px;
}